{% extends 'base.html' %}
{% block content %}
<div class="container" role="main">
    <div class="page-header">
        <h1>Question-Answer App</h1>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="list-group">
                {% for res in result %}
                    {% if res.answer == None %}
                        <a href="\give_answer\{{res.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                    {% else %}
                        <a class="list-group-item list-group-item-action flex-column align-items-start">
                    {% endif %}
                    <h5 class="list-group-item-heading">{{ res.question }}</h5>
                    <h6 class="list-group-item-heading">{{ res.answer }}</h6>
                    <p class="list-group-item-text"><b>Asked By:  </b>{{ res.asked_by }}</p>
                    <p class="list-group-item-text"><b>Answered By: </b>{{ res.answered_by }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}